In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
columns = ['letter'] + [f'feature_{i}' for i in range(16)]
df = pd.read_csv(r"C:\Users\Admin\Downloads\letter+recognition\letter-recognition.data", names=columns)
# Assuming 'your_data_path' is the actual path to your data file

# Preprocess the data
label_encoder = LabelEncoder()
df['target'] = label_encoder.fit_transform(df['letter'])
X = df.drop(['letter', 'target'], axis=1)
y = df['target']

# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.iloc[0]
df.head()

,letter,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,target
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,19
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,8
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,3
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,13
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,6

In [4]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [5]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(16,)))
model.add(Dense(64, activation='relu'))
model.add(Dense(26, activation='softmax'))  # 26 classes for letters

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print(f'Test Accuracy: {test_accuracy}')

Epoch 1/10
500/500 [==============================] - 2s 2ms/step - loss: 1.7135 - accuracy: 0.5234 - val_loss: 1.0630 - val_accuracy: 0.7145
Epoch 2/10
500/500 [==============================] - 1s 1ms/step - loss: 0.9282 - accuracy: 0.7392 - val_loss: 0.7979 - val_accuracy: 0.7703
Epoch 3/10
500/500 [==============================] - 1s 1ms/step - loss: 0.7565 - accuracy: 0.7794 - val_loss: 0.6704 - val_accuracy: 0.8175
Epoch 4/10
500/500 [==============================] - 1s 1ms/step - loss: 0.6382 - accuracy: 0.8148 - val_loss: 0.5843 - val_accuracy: 0.8278
Epoch 5/10
500/500 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.8344 - val_loss: 0.5079 - val_accuracy: 0.8562
Epoch 6/10
500/500 [==============================] - 1s 1ms/step - loss: 0.4954 - accuracy: 0.8516 - val_loss: 0.4846 - val_accuracy: 0.8553
Epoch 7/10
500/500 [==============================] - 1s 1ms/step - loss: 0.4508 - accuracy: 0.8633 - val_loss: 0.4376 - val_accuracy: 0.8620
Epoch 8/10
500/500 [==============================] - 1s 1ms/step - loss: 0.4025 - accuracy: 0.8794 - val_loss: 0.4173 - val_accuracy: 0.8720
Epoch 9/10
500/500 [==============================] - 1s 1ms/step - loss: 0.3724 - accuracy: 0.8835 - val_loss: 0.3768 - val_accuracy: 0.8898
Epoch 10/10
500/500 [==============================] - 1s 1ms/step - loss: 0.3509 - accuracy: 0.8901 - val_loss: 0.3713 - val_accuracy: 0.8895
125/125 [==============================] - 0s 975us/step - loss: 0.3713 - accuracy: 0.8895
Test Accuracy: 0.8895000219345093

In [6]:
# Given data
import numpy as np
new_data = np.array([4, 7, 5, 5, 4, 6, 7, 3, 7, 11, 8, 9, 3, 8, 4, 8]).reshape(1, -1)

# Use the model to make predictions
predictions = model.predict(new_data)
print(predictions)
# Display the predictions
predicted_class = np.argmax(predictions)
print(f'The predicted class is: {predicted_class}')

1/1 [==============================] - 0s 81ms/step
[[5.0006594e-08 1.8401743e-05 5.3124666e-05 7.7853299e-05 9.9471211e-01
  2.3228189e-04 6.5116459e-05 9.4328582e-04 2.1140098e-05 6.8922159e-06
  1.4382329e-04 1.1864307e-04 8.8999890e-13 8.4190915e-10 2.3678574e-06
  5.7292539e-07 6.7757685e-07 1.7715602e-06 2.2367248e-03 1.0559048e-04
  1.5955838e-08 2.5269361e-07 3.5575584e-14 1.2258169e-03 1.2309143e-06
  3.2302472e-05]]
The predicted class is: 4

In [7]:
class_mapping = {
    0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H', 8: 'I', 9: 'J',
    10: 'K', 11: 'L', 12: 'M', 13: 'N', 14: 'O', 15: 'P', 16: 'Q', 17: 'R', 18: 'S', 19: 'T',
    20: 'U', 21: 'V', 22: 'W', 23: 'X', 24: 'Y', 25: 'Z'
}

# Display the predicted class using the mapping
predicted_letter = class_mapping[predicted_class]
print(f'The predicted class is: {predicted_class}, which corresponds to the letter: {predicted_letter}')

The predicted class is: 4, which corresponds to the letter: E

In [12]:
input_data=input("enter data")
new_data = np.array(list(map(int, input_data.split()))).reshape(1, -1)

# Use the model to make predictions
start_time = time.time() # Start timing
predictions = model.predict(new_data)
end_time = time.time() # End timing
# Calculate time taken

time_taken = end_time - start_time

# Display the predictions

predicted_class = np.argmax(predictions)
predicted_letter = class_mapping.get(predicted_class, 'Unknown')
print(predicted_letter)
print(time_taken)

enter data7	11	6	6	3	5	9	4	6	4	4	10	6	10	2	8
1/1 [==============================] - 0s 16ms/step
N
0.05451011657714844

In [8]:
import tkinter as tk
from tkinter import messagebox
import numpy as np
import time

# Function to predict letter
def predict_letter():
    # Retrieve input data from entry widget
    input_data = entry.get()
    # Convert input data to numpy array
    try:
        new_data = np.array(list(map(int, input_data.split()))).reshape(1, -1)
        # Use the model to make predictions
        start_time = time.time() # Start timing
        predictions = model.predict(new_data)
        end_time = time.time() # End timing
        # Calculate time taken
        time_taken = end_time - start_time
        # Display the predictions
        predicted_class = np.argmax(predictions)
        predicted_letter = class_mapping.get(predicted_class, 'Unknown')
        # Display predicted Letter with time taken
        messagebox.showinfo("Prediction Result", f"The predicted letter is: {predicted_letter}\nTime taken to predict: {time_taken:.6f} seconds")
    except ValueError:
        messagebox.showerror("Error", "Invalid input data. Please enter space-separated integers.")

# Load your model and class mapping before creating the Tkinter window
# Make sure 'model' and 'class_mapping' are defined and loaded before this point.

# Create Tkinter window
window = tk.Tk()
window.title("Letter Prediction")

# Create a Label
label = tk.Label(window, text="Enter new data :")
label.pack(pady=10)

# Create an entry widget
entry = tk.Entry(window, width=50)
entry.pack()

# Create a button
button = tk.Button(window, text="Predict Letter", command=predict_letter)
button.pack(pady=10)

# Run the Tkinter event Loop
window.mainloop()

1/1 [==============================] - 0s 16ms/step
1/1 [==============================] - 0s 16ms/step

In [13]:
df

,letter,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,target
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,19
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,8
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,3
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,13
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,3
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,2
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,19
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,18
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,0